<div class = "review">
	<div class = "head">
<h1>New Cafeteria</h1>
</div>
<%= simple_form_for Cafeterium.new do |f| %>
  <h3>*Name</h3>
  <%= f.input :name,:maxlength =>25, :label => false  %>
  <br />
  <h3>*Capacity</h3>
  <%= f.input :capacity, :label => false %>
  <br />
  <%= f.button :submit %>
<% end %>
<br />
</div>
