<div class = "review">
	<div class = "head">
		<h1>About Us</h1>
		<p id = "about">The Ateneo Food Review is a website wherein people can view reviews of stalls existing inside Ateneo. The Ateneo Food Review aims to provide Ateneans a heads-up as to what kinds of food are sold inside Ateneo and also inform them of what stalls are good.
It is our passion to give Ateneans the chance to have a glimpse of a food they want to eat. The Ateneo Food Review opens up exciting avenues for both Ateneans and non-Ateneans to share and bond food experiences. We also offer Ateneans to leave their comments or reviews whenever they eat something inside Ateneo. 
At AFR, we love happy eating!</p>
	</div>
</div>