<html>
<head><title>Create Stall</title></head>
<h1>New Stall</h1>
<body>
<%= simple_form_for ([@cafeterium, @stall]) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.button :submit %>
<% end %>
</body>
</html>
